@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-cal: 'Cal Sans';
    --font-poppins: 'Poppins';
    /* --animate-hop: hop 1s ease-in-out infinite;
    --animate-hop2: hop2 1s ease-in-out infinite; */
    --animate-wiggle: wiggle 1s ease-in-out infinite;

    

    @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@layer components {
    .text {
        @apply text-sm md:text-base;
    }

    .title {
        @apply text-2xl md:text-3xl;
    }

    p {
        @apply leading-7;
    }
    /* .btn {
        @apply relative enabled:bg-slate-800 enabled:active:bg-slate-900 enabled:hover:bg-slate-700 p-2 rounded-md text-white block w-full disabled:bg-slate-500 disabled:cursor-wait;
    } */
    .btn {
        @apply relative bg-slate-800 hover:bg-slate-700 p-2 rounded-md text-white block w-full;
    }
    .error {
        @apply text-xs text-red-500 mt-px;
    }
    .input {
        @apply block w-full p-2 rounded-md ring-1 ring-slate-600 focus:ring-slate-900 focus:ring-2 outline-0 border-0 mt-1;
    }
    label {
        @apply text-sm text-slate-600;
    }
    .card {
        @apply bg-white p-6 rounded-lg shadow-lg border border-slate-200;
    }
    .username {
        @apply py-2 pl-4 border-b border-slate-200 text-xs text-slate-700;
    }
}

*
{
    /* margin: 0;  */
    /* box-sizing: border-box;
    background: rgb(0 100 0 / 0.1) !important; */
}

body {
    font-family: var(--font-poppins);
}

 @keyframes hop {
        0% {
            transform: translateY(0);
        }
        30% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-3px);
        }
        50% {
            transform: translateY(0);
        }
        60% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes hop2 {
        0% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3px);
        }
        60% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(60px);
        }
        100% {
            opacity: 100;
            transform: translateY(0);
        }
    }


.hop-animation {
    animation: hop 3s ease-in-out infinite;
}

.hop-animation2 {
    animation: hop2 3s ease-in-out infinite;
}

.fadeIn-animation {
    animation: fadeIn 1s ease-in-out;
}

.fadeIn-animation:nth-child(1) {
    animation-delay: 0s; /* No delay for the first element */
}

.fadeIn-animation:nth-child(2) {
    animation-delay: 0.5s; /* 0.5s delay for the second element */
}

.fadeIn-animation:nth-child(3) {
    animation-delay: 1s; /* 1s delay for the third element */
}

/* 
@keyframes growDown {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
} */

/* .line {
    width: 20px;
    height: 0px; 
    background-color: black; 
    animation: growDown 2s ease-in-out infinite;
} */

/* .line {
        stroke: black;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-dasharray: 0, 1000;
        animation: growDown 2s ease-in-out infinite;
    } */

#topnav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}